@import "../breakpoints";

/**
 * Generic
 *
 * Style for generic & low-spec HTML elements.
 *
 *============================================================================*/



/* HTML
 *============================================================================*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background: var(--backdrop-theme);
  color: var(--backdrop-primary);

  @media (max-width: $screen-xs) {
    font-size: 14px;
  }
}



/* Headings
 *============================================================================*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}



/* Generic elements margins
 *============================================================================*/

h1, h2, h3, h4, h5, h6,
p, ol, ul, hr {
  margin: 0 0 1em;
}

p + ul {
  margin-top: -.75em;
}



/* Generic section
 *============================================================================*/

.generic-section {
  padding-top: calc(50px + .5vw);
  padding-bottom: calc(50px + .5vw);
}
