@charset "UTF-8";
/**
 * Theme
 *
 * Adjustable theme settings.
 *
 *============================================================================*/
/* Theme
 *============================================================================*/
/* Generating CSS variables in :root
 *============================================================================*/
:root {
  --primary-theme: #4075ff;
  --primary-primary: white;
  --primary-secondary: rgba(255, 255, 255, 0.8);
  --primary-tertiary: rgba(255, 255, 255, 0.15);
  --accent-theme: #ffe587;
  --accent-primary: white;
  --accent-secondary: rgba(255, 255, 255, 0.8);
  --accent-tertiary: rgba(255, 255, 255, 0.15);
  --warn-theme: #dc143c;
  --warn-primary: white;
  --warn-secondary: rgba(255, 255, 255, 0.8);
  --warn-tertiary: rgba(255, 255, 255, 0.15);
  --panel-theme: #fff;
  --panel-primary: rgba(0, 0, 0, 0.9);
  --panel-secondary: rgba(0, 0, 0, 0.7);
  --panel-tertiary: rgba(0, 0, 0, 0.15);
  --backdrop-theme: #F2F6FC;
  --backdrop-primary: rgba(0, 0, 0, 0.9);
  --backdrop-secondary: rgba(0, 0, 0, 0.7);
  --backdrop-tertiary: rgba(0, 0, 0, 0.15);
  --footer-theme: #1D2434;
  --footer-primary: white;
  --footer-secondary: rgba(255, 255, 255, 0.8);
  --footer-tertiary: rgba(255, 255, 255, 0.15);
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-secondary: 'Reenie Beanie', cursive; }

/* Generating theme classes
 *============================================================================*/
.primary {
  --theme: var(--primary-theme);
  --primary: var(--primary-primary);
  --secondary: var(--primary-secondary);
  --tertiary: var(--primary-tertiary); }

.accent {
  --theme: var(--accent-theme);
  --primary: var(--accent-primary);
  --secondary: var(--accent-secondary);
  --tertiary: var(--accent-tertiary); }

.warn {
  --theme: var(--warn-theme);
  --primary: var(--warn-primary);
  --secondary: var(--warn-secondary);
  --tertiary: var(--warn-tertiary); }

.panel {
  --theme: var(--panel-theme);
  --primary: var(--panel-primary);
  --secondary: var(--panel-secondary);
  --tertiary: var(--panel-tertiary); }

.backdrop {
  --theme: var(--backdrop-theme);
  --primary: var(--backdrop-primary);
  --secondary: var(--backdrop-secondary);
  --tertiary: var(--backdrop-tertiary); }

.footer {
  --theme: var(--footer-theme);
  --primary: var(--footer-primary);
  --secondary: var(--footer-secondary);
  --tertiary: var(--footer-tertiary); }

/**
 * Resets
 *
 * Style resets in order to synchronize different browser default styles.
 *
 *============================================================================*/
/* Basic page behaviour resets
 *============================================================================*/
/**
 * 1. Best practice box-sizing. Source:
 *    css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * 2. Forces long words to break into new lines if they don't fit a container.
 * 3. Sharper font rendering. Source:
 *    developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
 */
*, *:before, *:after {
  box-sizing: inherit;
  /* [1] */ }

html {
  box-sizing: border-box;
  /* [1] */
  word-wrap: break-word;
  /* [2] */
  overflow-wrap: break-word;
  /* [2] */
  -moz-osx-font-smoothing: grayscale;
  /* [3] */
  -webkit-font-smoothing: antialiased;
  /* [3] */ }

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0; }

/* Margin resets
 *============================================================================*/
h1, h2, h3, h4, h5, h6,
p, ol, ul, hr {
  margin: 0; }

li > ol, ul {
  margin-bottom: 0; }

/* Tables
 *============================================================================*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: baseline; }

/* Semantic markup
 *============================================================================*/
small {
  font-size: .8em; }

b, strong {
  font-weight: 700; }

i, em {
  font-style: italic; }

u {
  text-decoration: underline; }

/* Hyperlinks
 *============================================================================*/
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

/* Buttons
 *============================================================================*/
button {
  cursor: pointer;
  font-size: inherit; }

/* Textarea
 *============================================================================*/
textarea {
  resize: vertical; }

/* Images
 *============================================================================*/
/**
 * 1. Images will retain their aspect ratio on screen resizing. They
      will never scale up to be larger than their original size.
 * 2. Removes whitespace under images.
 */
img {
  max-width: 100%;
  /* [1] */
  height: auto;
  /* [1] */
  vertical-align: middle;
  /* [2] */ }

/* Disabled content
 *============================================================================*/
.disabled, :disabled, [disabled] {
  opacity: .5;
  user-select: none;
  pointer-events: none; }

/**
 * Generic
 *
 * Style for generic & low-spec HTML elements.
 *
 *============================================================================*/
/* HTML
 *============================================================================*/
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-primary); }

body {
  --theme: var(--backdrop-theme);
  --primary: var(--backdrop-primary);
  --secondary: var(--backdrop-secondary);
  --tertiary: var(--backdrop-tertiary); }

body {
  background: var(--theme);
  color: var(--primary); }

/* Headings
 *============================================================================*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: bold; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 16px; }

/**
 * @media breakpoints
 *
 * Phone           :    0px - 600px
 * Tablet portrait :  600px - 900px
 * Tablet landscape:  900px - 1200px
 * Desktop         : 1200px - 1800px
 * Large desktop   : 1800px +
 *
 *============================================================================*/
/**
 * call-to-action section
 *
 *============================================================================*/
.cta-section {
  position: relative;
  background: var(--primary-theme);
  color: var(--primary-primary);
  padding: 120px 0 160px; }
  @media (max-width: 900px) {
    .cta-section {
      padding: 60px 0 80px; } }
  .cta-section-content {
    position: relative;
    z-index: 1;
    margin: auto;
    max-width: 700px;
    width: 100%;
    padding: 10px;
    text-align: center; }
    .cta-section-content-title {
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 60px; }
      @media (max-width: 900px) {
        .cta-section-content-title {
          margin-bottom: 30px;
          font-size: 28px;
          padding-bottom: 24px; } }
      .cta-section-content-title::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10px;
        background: var(--accent-theme); }
        @media (max-width: 900px) {
          .cta-section-content-title::after {
            width: 50%;
            transform: translateX(50%);
            height: 4px; } }
    .cta-section-content-subtitle {
      font-size: 24px; }
      @media (max-width: 900px) {
        .cta-section-content-subtitle {
          font-size: 16px; } }
  .cta-section-image-left {
    position: absolute;
    top: 0;
    right: calc(50% + 250px);
    height: calc(100% + 100px);
    width: auto;
    object-fit: contain; }
    @media (max-width: 900px) {
      .cta-section-image-left {
        display: none; } }
  .cta-section-image-right {
    position: absolute;
    bottom: 0;
    left: calc(50% + 250px);
    height: calc(100% + 100px);
    width: auto;
    object-fit: contain; }
    @media (max-width: 900px) {
      .cta-section-image-right {
        display: none; } }

/**
 * Title
 *
 *============================================================================*/
.title {
  position: relative;
  padding-bottom: 24px; }
  .title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 4px;
    background: var(--primary-theme); }

/**
 * Buttons
 *
 *============================================================================*/
.btn {
  display: inline-block;
  border: none;
  outline: none;
  padding: 1em 1.5em;
  font-weight: 500;
  border-radius: 4px;
  background: var(--primary-theme);
  color: var(--primary-primary);
  transition: .2s;
  box-shadow: 0 0 5px 0 var(--primary-theme); }
  .btn:hover, .btn:focus {
    box-shadow: 0 0 25px 0 var(--primary-theme); }

/**
 * Card
 *
 *============================================================================*/
.card {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px 0 0 !important;
  box-shadow: 0 0 0 1px var(--tertiary);
  transition: .2s; }
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--primary-theme);
    border-bottom-left-radius: 60px;
    transition: .2s;
    visibility: hidden;
    opacity: 0; }
  .card:hover {
    background: white;
    box-shadow: 0 0 0 1px var(--tertiary), 0 0 25px 0 rgba(0, 0, 0, 0.3); }
    .card:hover::after {
      visibility: visible;
      opacity: 1; }
    .card:hover .card-title::after {
      opacity: 1;
      margin-left: 10px; }
  .card-title::after {
    position: absolute;
    content: '→';
    font-weight: normal;
    color: var(--primary-theme);
    display: inline-block;
    transition: .2s;
    opacity: 0;
    margin-left: 5px; }
  .card-image {
    height: 200px;
    width: 100%;
    object-fit: cover; }
  .card-link {
    box-shadow: 0 0 0 1px var(--tertiary); }

/**
 * @media breakpoints
 *
 * Phone           :    0px - 600px
 * Tablet portrait :  600px - 900px
 * Tablet landscape:  900px - 1200px
 * Desktop         : 1200px - 1800px
 * Large desktop   : 1800px +
 *
 *============================================================================*/
/**
 * Page content
 *
 * A simple tool that assists the reader by showing all important headings.
 *
 *============================================================================*/
.page-content {
  position: sticky;
  top: calc(80px + 20px);
  display: flex;
  flex-direction: column;
  border-right: 4px solid var(--tertiary);
  padding: 5px 0;
  max-height: calc(100vh - 80px - 20px - 20px);
  overflow: auto; }
  @media (max-width: 900px) {
    .page-content {
      border-right: none;
      border-left: 4px solid var(--tertiary);
      margin-bottom: 40px;
      margin-top: 40px;
      overflow: unset;
      max-height: unset; }
      .page-content::before {
        content: attr(data-content);
        position: absolute;
        top: -30px;
        font-size: 16px;
        line-height: 20px;
        left: -4px;
        color: var(--secondary); } }
  .page-content > a {
    text-align: right;
    padding: 5px 20px 5px 5px;
    transition: .2s; }
    @media (max-width: 900px) {
      .page-content > a {
        text-align: left;
        padding: 5px 5px 5px 20px; } }
    .page-content > a.active, .page-content > a:hover {
      color: var(--primary-theme); }
  .page-content > h1 {
    font-size: 16px;
    text-align: right;
    padding: 5px 20px 5px 5px; }
    @media (max-width: 900px) {
      .page-content > h1 {
        text-align: left;
        padding: 5px 5px 5px 20px; } }
  .page-content > a + h1 {
    margin-top: 10px; }

/**
 * @media breakpoints
 *
 * Phone           :    0px - 600px
 * Tablet portrait :  600px - 900px
 * Tablet landscape:  900px - 1200px
 * Desktop         : 1200px - 1800px
 * Large desktop   : 1800px +
 *
 *============================================================================*/
/**
 * Grid
 *
 * A 12-column grid based on display: flex.
 *
 *============================================================================*/
/* Grid
 *============================================================================*/
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

/* Columns
 *============================================================================*/
[class*="col-"] {
  padding: 10px; }

.col-0 {
  display: none; }

.col-1 {
  display: block;
  width: 8.33333%; }

.col-2 {
  display: block;
  width: 16.66667%; }

.col-3 {
  display: block;
  width: 25%; }

.col-4 {
  display: block;
  width: 33.33333%; }

.col-5 {
  display: block;
  width: 41.66667%; }

.col-6 {
  display: block;
  width: 50%; }

.col-7 {
  display: block;
  width: 58.33333%; }

.col-8 {
  display: block;
  width: 66.66667%; }

.col-9 {
  display: block;
  width: 75%; }

.col-10 {
  display: block;
  width: 83.33333%; }

.col-11 {
  display: block;
  width: 91.66667%; }

.col-12 {
  display: block;
  width: 100%; }

@media (max-width: 1800px) {
  .col-l-0 {
    display: none; }
  .col-l-1 {
    display: block;
    width: 8.33333%; }
  .col-l-2 {
    display: block;
    width: 16.66667%; }
  .col-l-3 {
    display: block;
    width: 25%; }
  .col-l-4 {
    display: block;
    width: 33.33333%; }
  .col-l-5 {
    display: block;
    width: 41.66667%; }
  .col-l-6 {
    display: block;
    width: 50%; }
  .col-l-7 {
    display: block;
    width: 58.33333%; }
  .col-l-8 {
    display: block;
    width: 66.66667%; }
  .col-l-9 {
    display: block;
    width: 75%; }
  .col-l-10 {
    display: block;
    width: 83.33333%; }
  .col-l-11 {
    display: block;
    width: 91.66667%; }
  .col-l-12 {
    display: block;
    width: 100%; } }

@media (max-width: 1200px) {
  .col-m-0 {
    display: none; }
  .col-m-1 {
    display: block;
    width: 8.33333%; }
  .col-m-2 {
    display: block;
    width: 16.66667%; }
  .col-m-3 {
    display: block;
    width: 25%; }
  .col-m-4 {
    display: block;
    width: 33.33333%; }
  .col-m-5 {
    display: block;
    width: 41.66667%; }
  .col-m-6 {
    display: block;
    width: 50%; }
  .col-m-7 {
    display: block;
    width: 58.33333%; }
  .col-m-8 {
    display: block;
    width: 66.66667%; }
  .col-m-9 {
    display: block;
    width: 75%; }
  .col-m-10 {
    display: block;
    width: 83.33333%; }
  .col-m-11 {
    display: block;
    width: 91.66667%; }
  .col-m-12 {
    display: block;
    width: 100%; } }

@media (max-width: 900px) {
  .col-s-0 {
    display: none; }
  .col-s-1 {
    display: block;
    width: 8.33333%; }
  .col-s-2 {
    display: block;
    width: 16.66667%; }
  .col-s-3 {
    display: block;
    width: 25%; }
  .col-s-4 {
    display: block;
    width: 33.33333%; }
  .col-s-5 {
    display: block;
    width: 41.66667%; }
  .col-s-6 {
    display: block;
    width: 50%; }
  .col-s-7 {
    display: block;
    width: 58.33333%; }
  .col-s-8 {
    display: block;
    width: 66.66667%; }
  .col-s-9 {
    display: block;
    width: 75%; }
  .col-s-10 {
    display: block;
    width: 83.33333%; }
  .col-s-11 {
    display: block;
    width: 91.66667%; }
  .col-s-12 {
    display: block;
    width: 100%; } }

@media (max-width: 600px) {
  .col-xs-0 {
    display: none; }
  .col-xs-1 {
    display: block;
    width: 8.33333%; }
  .col-xs-2 {
    display: block;
    width: 16.66667%; }
  .col-xs-3 {
    display: block;
    width: 25%; }
  .col-xs-4 {
    display: block;
    width: 33.33333%; }
  .col-xs-5 {
    display: block;
    width: 41.66667%; }
  .col-xs-6 {
    display: block;
    width: 50%; }
  .col-xs-7 {
    display: block;
    width: 58.33333%; }
  .col-xs-8 {
    display: block;
    width: 66.66667%; }
  .col-xs-9 {
    display: block;
    width: 75%; }
  .col-xs-10 {
    display: block;
    width: 83.33333%; }
  .col-xs-11 {
    display: block;
    width: 91.66667%; }
  .col-xs-12 {
    display: block;
    width: 100%; } }

/**
 * @media breakpoints
 *
 * Phone           :    0px - 600px
 * Tablet portrait :  600px - 900px
 * Tablet landscape:  900px - 1200px
 * Desktop         : 1200px - 1800px
 * Large desktop   : 1800px +
 *
 *============================================================================*/
/**
 * Read format
 *
 * A useful wrapper for better text legibility. Useful on innerHtml content.
 *
 *============================================================================*/
.read-format h1 {
  margin: 0 0 1em;
  font-size: 36px;
  position: relative;
  padding-bottom: 24px; }
  @media (max-width: 900px) {
    .read-format h1 {
      font-size: 24px; } }
  .read-format h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 4px;
    background: var(--primary-theme); }

.read-format h2 {
  margin: 0 0 1em;
  font-size: 28px; }
  @media (max-width: 900px) {
    .read-format h2 {
      font-size: 20px; } }

.read-format h3 {
  font-size: 16px;
  margin: 2em 0 .5em; }

.read-format p {
  margin: 0 0 1em; }

.read-format ul {
  margin: -.5em 0 1em; }

.read-format a {
  color: var(--primary-theme);
  text-decoration: underline; }

/**
 * @media breakpoints
 *
 * Phone           :    0px - 600px
 * Tablet portrait :  600px - 900px
 * Tablet landscape:  900px - 1200px
 * Desktop         : 1200px - 1800px
 * Large desktop   : 1800px +
 *
 *============================================================================*/
/**
 * Utilities
 *
 * Utility classes that make life simple.
 *
 *============================================================================*/
/* Flex
 *============================================================================*/
.flex {
  display: flex; }

.iflex {
  display: inline-flex; }

.fw-wrap {
  flex-wrap: wrap; }

.fw-nowrap {
  flex-wrap: nowrap; }

.fw-rev {
  flex-wrap: wrap-reverse; }

.fd-row {
  flex-direction: row; }

.fd-row-rev {
  flex-direction: row-reverse; }

.fd-col {
  flex-direction: column; }

.fd-col-rev {
  flex-direction: column-reverse; }

.ai-stretch {
  align-items: stretch; }

.ai-start {
  align-items: flex-start; }

.ai-end {
  align-items: flex-end; }

.ai-center {
  align-items: center; }

.ai-base {
  align-items: baseline; }

.jc-start {
  justify-content: flex-start; }

.jc-end {
  justify-content: flex-end; }

.jc-center {
  justify-content: center; }

.jc-around {
  justify-content: space-around; }

.jc-between {
  justify-content: space-between; }

.jc-evenly {
  justify-content: space-evenly; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

/* Other displays
 *============================================================================*/
.block {
  display: block; }

.iblock {
  display: inline-block; }

.inline {
  display: inline; }

.contents {
  display: contents; }

/* Hide & show
 *============================================================================*/
@media (max-width: 600px) {
  .hide-xs {
    display: none; } }

@media (max-width: 900px) {
  .hide-s {
    display: none; } }

@media (max-width: 1200px) {
  .hide-m {
    display: none; } }

@media (max-width: 1800px) {
  .hide-l {
    display: none; } }

@media (min-width: 601px) {
  .show-xs {
    display: none; } }

@media (min-width: 901px) {
  .show-s {
    display: none; } }

@media (min-width: 1201px) {
  .show-m {
    display: none; } }

@media (min-width: 1801px) {
  .show-l {
    display: none; } }

/* Backgrounds
 *============================================================================*/
.bg {
  background-color: var(--theme);
  color: var(--primary); }

.bg-primary {
  background-color: var(--primary-theme);
  color: var(--primary-primary); }

.bg-accent {
  background-color: var(--accent-theme);
  color: var(--accent-primary); }

.bg-warn {
  background-color: var(--warn-theme);
  color: var(--warn-primary); }

.bg-panel {
  background-color: var(--panel-theme);
  color: var(--panel-primary); }

.bg-backdrop {
  background-color: var(--backdrop-theme);
  color: var(--backdrop-primary); }

.bg-footer {
  background-color: var(--footer-theme);
  color: var(--footer-primary); }

/* Colors
 *============================================================================*/
.c {
  color: var(--theme); }

.fg-primary {
  color: var(--primary); }

.fg-secondary {
  color: var(--secondary); }

.c-primary {
  color: var(--primary-theme); }

.c-accent {
  color: var(--accent-theme); }

.c-warn {
  color: var(--warn-theme); }

.c-panel {
  color: var(--panel-theme); }

.c-backdrop {
  color: var(--backdrop-theme); }

.c-footer {
  color: var(--footer-theme); }

/* Fonts
 *============================================================================*/
.font-primary {
  font-family: var(--font-primary); }

.font-secondary {
  font-family: var(--font-secondary); }

/* Text aligns
 *============================================================================*/
.ta-left {
  text-align: left; }

.ta-center {
  text-align: center; }

.ta-right {
  text-align: right; }

.ta-justify {
  text-align: justify; }

/* White space
 *============================================================================*/
.ws-nowrap {
  white-space: nowrap; }

.ws-normal {
  white-space: normal; }

/* Font size
 *============================================================================*/
.fs-small {
  font-size: 0.8em; }

.fs-large {
  font-size: 1.3em; }

/* Font weight
 *============================================================================*/
.fw-bold {
  font-weight: bold; }

.fw-normal {
  font-weight: normal; }

/* Text decoration
 *============================================================================*/
.td-underline {
  text-decoration: underline; }

/* Image controls
 *============================================================================*/
.obj-cover {
  object-fit: cover; }

.obj-contain {
  object-fit: contain; }

/* Position
 *============================================================================*/
.relative {
  position: relative; }

/* Overflows
 *============================================================================*/
.of-auto {
  overflow: auto; }

.of-hidden {
  overflow: hidden; }

.of-scroll {
  overflow: scroll; }

.of-x-auto {
  overflow-x: auto; }

.of-x-hidden {
  overflow-x: hidden; }

.of-x-scroll {
  overflow-x: scroll; }

.of-y-auto {
  overflow-y: auto; }

.of-y-hidden {
  overflow-y: hidden; }

.of-y-scroll {
  overflow-y: scroll; }

/* Width & height
 *============================================================================*/
.w-full {
  width: 100%; }

.w-auto {
  width: auto; }

.h-full {
  height: 100%; }

.h-auto {
  height: auto; }

.mw-full {
  max-width: 100%; }

/* Border radii
 *============================================================================*/
.br-rounded {
  border-radius: 4px; }

.br-circle {
  border-radius: 50%; }

.br-pill {
  border-radius: 999px; }

/* Borders
 *============================================================================*/
.b-a {
  border: 1px solid var(--tertiary); }

.b-t {
  border-top: 1px solid var(--tertiary); }

.b-r {
  border-right: 1px solid var(--tertiary); }

.b-b {
  border-bottom: 1px solid var(--tertiary); }

.b-l {
  border-left: 1px solid var(--tertiary); }

/* Paddings
 *============================================================================*/
.p-a-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.p-t-0 {
  padding-top: 0; }

.p-r-0 {
  padding-right: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-l-0 {
  padding-left: 0; }

.p-a-xs {
  padding: 5px; }

.p-a-s {
  padding: 10px; }

.p-a-m {
  padding: 20px; }

.p-a-l {
  padding: 40px; }

.p-a-xl {
  padding: 80px; }

.p-y-xs {
  padding-top: 5px;
  padding-bottom: 5px; }

.p-y-s {
  padding-top: 10px;
  padding-bottom: 10px; }

.p-y-m {
  padding-top: 20px;
  padding-bottom: 20px; }

.p-y-l {
  padding-top: 40px;
  padding-bottom: 40px; }

.p-y-xl {
  padding-top: 80px;
  padding-bottom: 80px; }

.p-x-xs {
  padding-left: 5px;
  padding-right: 5px; }

.p-x-s {
  padding-left: 10px;
  padding-right: 10px; }

.p-x-m {
  padding-left: 20px;
  padding-right: 20px; }

.p-x-l {
  padding-left: 40px;
  padding-right: 40px; }

.p-x-xl {
  padding-left: 80px;
  padding-right: 80px; }

.p-t-xs {
  padding-top: 5px; }

.p-t-s {
  padding-top: 10px; }

.p-t-m {
  padding-top: 20px; }

.p-t-l {
  padding-top: 40px; }

.p-t-xl {
  padding-top: 80px; }

.p-r-xs {
  padding-right: 5px; }

.p-r-s {
  padding-right: 10px; }

.p-r-m {
  padding-right: 20px; }

.p-r-l {
  padding-right: 40px; }

.p-r-xl {
  padding-right: 80px; }

.p-b-xs {
  padding-bottom: 5px; }

.p-b-s {
  padding-bottom: 10px; }

.p-b-m {
  padding-bottom: 20px; }

.p-b-l {
  padding-bottom: 40px; }

.p-b-xl {
  padding-bottom: 80px; }

.p-l-xs {
  padding-left: 5px; }

.p-l-s {
  padding-left: 10px; }

.p-l-m {
  padding-left: 20px; }

.p-l-l {
  padding-left: 40px; }

.p-l-xl {
  padding-left: 80px; }

/* Margins
 *============================================================================*/
.m-a-0 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.m-t-0 {
  margin-top: 0; }

.m-r-0 {
  margin-right: 0; }

.m-b-0 {
  margin-bottom: 0; }

.m-l-0 {
  margin-left: 0; }

.m-a-xs {
  margin: 5px; }

.m-a-s {
  margin: 10px; }

.m-a-m {
  margin: 20px; }

.m-a-l {
  margin: 40px; }

.m-a-xl {
  margin: 80px; }

.m-y-xs {
  margin-top: 5px;
  margin-bottom: 5px; }

.m-y-s {
  margin-top: 10px;
  margin-bottom: 10px; }

.m-y-m {
  margin-top: 20px;
  margin-bottom: 20px; }

.m-y-l {
  margin-top: 40px;
  margin-bottom: 40px; }

.m-y-xl {
  margin-top: 80px;
  margin-bottom: 80px; }

.m-x-xs {
  margin-left: 5px;
  margin-right: 5px; }

.m-x-s {
  margin-left: 10px;
  margin-right: 10px; }

.m-x-m {
  margin-left: 20px;
  margin-right: 20px; }

.m-x-l {
  margin-left: 40px;
  margin-right: 40px; }

.m-x-xl {
  margin-left: 80px;
  margin-right: 80px; }

.m-t-xs {
  margin-top: 5px; }

.m-t-s {
  margin-top: 10px; }

.m-t-m {
  margin-top: 20px; }

.m-t-l {
  margin-top: 40px; }

.m-t-xl {
  margin-top: 80px; }

.m-r-xs {
  margin-right: 5px; }

.m-r-s {
  margin-right: 10px; }

.m-r-m {
  margin-right: 20px; }

.m-r-l {
  margin-right: 40px; }

.m-r-xl {
  margin-right: 80px; }

.m-b-xs {
  margin-bottom: 5px; }

.m-b-s {
  margin-bottom: 10px; }

.m-b-m {
  margin-bottom: 20px; }

.m-b-l {
  margin-bottom: 40px; }

.m-b-xl {
  margin-bottom: 80px; }

.m-l-xs {
  margin-left: 5px; }

.m-l-s {
  margin-left: 10px; }

.m-l-m {
  margin-left: 20px; }

.m-l-l {
  margin-left: 40px; }

.m-l-xl {
  margin-left: 80px; }
