@import "../breakpoints";

/**
 * Utilities
 *
 * Utility classes that make life simple.
 *
 *============================================================================*/



/* Flex
 *============================================================================*/

.flex       { display: flex; }
.iflex      { display: inline-flex; }

.fw-wrap    { flex-wrap: wrap; }
.fw-nowrap  { flex-wrap: nowrap; }
.fw-rev     { flex-wrap: wrap-reverse; }

.fd-row     { flex-direction: row; }
.fd-row-rev { flex-direction: row-reverse; }
.fd-col     { flex-direction: column; }
.fd-col-rev { flex-direction: column-reverse; }

.ai-stretch { align-items: stretch; }
.ai-start   { align-items: flex-start; }
.ai-end     { align-items: flex-end; }
.ai-center  { align-items: center; }
.ai-base    { align-items: baseline; }

.jc-start   { justify-content: flex-start; }
.jc-end     { justify-content: flex-end; }
.jc-center  { justify-content: center; }
.jc-around  { justify-content: space-around; }
.jc-between { justify-content: space-between; }
.jc-evenly  { justify-content: space-evenly; }

.flex-1     { flex: 1; }
