@import "../breakpoints";

/**
 * Aspect ratio component
 *
 * Create images with a fixed aspect ratio.
 *
 *============================================================================*/

.aspect-container {
  position: relative;
}

.aspect-container[data-ratio="2:1"] {
  padding-bottom: calc(1 / 2 * 100%);
}

.aspect-container[data-ratio="4:1"] {
  padding-bottom: calc(1 / 4 * 100%);

  @media (max-width: $screen-xs) {
    padding-bottom: calc(1 / 2 * 100%);
  }
}

.aspect-container[data-ratio="3:2"] {
  padding-bottom: calc(2 / 3 * 100%);
}

.aspect-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
