/**
 * Buttons
 *
 *============================================================================*/

.btn {
  cursor: pointer;
  font-size: inherit;
  display: inline-block;
  border: none;
  outline: none;
  padding: 1em 1.5em;
  font-weight: 500;
  border-radius: 4px;
  background: var(--primary-theme);
  color: var(--primary-primary);
  transition: .2s;
  box-shadow: 0 0 5px 0 var(--primary-theme);

  &:hover, &:focus {
    box-shadow: 0 0 25px 0 var(--primary-theme);
  }

  &.loading {
    position: relative;
    color: transparent;
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 3px solid rgba(255,255,255,.25);
      border-top-color: var(--primary-primary);
      animation: loading .7s infinite cubic-bezier(0.5, 0.25, 0.5, 0.75);
      @keyframes loading {
        from { transform: rotate(0); }
        to   { transform: rotate(360deg); }
      }
    }
  }
}
