/**
 * Card
 *
 *============================================================================*/

.card {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px 0 0 !important;
  box-shadow: 0 0 0 1px var(--tertiary);
  transition: .2s;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--primary-theme);
    border-bottom-left-radius: 60px;
    transition: .2s;
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    background: white;
    box-shadow: 0 0 0 1px var(--tertiary), 0 0 25px 0 rgba(0,0,0,.3);

    &::after {
      visibility: visible;
      opacity: 1;
    }

    .card-title::after {
      opacity: 1;
      margin-left: 10px;
    }
  }

  &-title::after {
    position: absolute;
    content: '→';
    font-weight: normal;
    color: var(--primary-theme);
    display: inline-block;
    transition: .2s;
    opacity: 0;
    margin-left: 5px;
  }

  &-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  &-link {
    box-shadow: 0 0 0 1px var(--tertiary);
  }
}