/**
 * Title
 *
 *============================================================================*/

.title {
  position: relative;
  padding-bottom: 24px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 4px;
    background: var(--primary-theme);
  }
}